.navbar-custom {
    background-color: aquamarine !important;
  }
  .navbar-custom .navbar-collapse {
    justify-content: center;
  }
  
  .navbar-custom .btn {
    margin-right: auto;
    margin-left: auto;
  }