@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  margin-top:1%;
  width: 100%; 
}
.body{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap:1%;
}

.left-container{
  flex: 2%;
  width: 500px;
  height: 600px;
}
.center-container{
  flex: 44%;
  width: 500px;
  height: 600px;
}
.right-container{
  flex: 44%;
  width: 500px;
  height: 600px;
}
